@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'TypeWriter';
	src: url('../media/typewcond_regular.otf');
}

body {
	background-color: #323A47;
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: TypeWriter, sans-serif;
	font-size: 14pt;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

p {
	text-align: left;
}

.navbar {
	position: absolute;
	background-color: #343C49;
	height: 5%;
	width: 20%;
	border-bottom: #7e8d9b 1px solid;
}

.dropdown-menu {
	background-color: #343C49;
}

.dropdown-item {
	color: rgba(255,255,255,.5);
}

.side-bar-content {
	position: relative;
	top: 5%;
	padding: 15px 5px;
}

.content-wrapper {
	height: 100%;
}

.left-side {
	background-color: #343C49;
	-webkit-box-shadow: 10px 0 5px -2px #212a37;
	box-shadow: 5px 0 5px -2px #212a37;
	width: 20%;
	z-index: 5;
}

.right-side {
	width: 80%;
	overflow-x: hidden;
	z-index: 2;
}

.recipe-title {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	display: inline;
	padding: 0.2em 0.5em;
	margin-left: -3rem;
	line-height: 2;
	background: rgba(255, 255, 255, 0.10);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.hero-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	align-self: center;
}