.comment-container {

}

.comment-header {
	align-items: center;
}

.comment-header h5{
	text-align: left;
	font-size: 11pt;
}

.comment-header .btn{
	padding-top: 0;
}

.comment-container p{
	text-align: left;
	font-size: 13pt;
	font-style: italic;
	font-weight: normal;
}